/* COLORS */

$dark-blue: #040406;
$pink: #f4abc4;
$main-background: #202136;
$green: #82f9a1;

/* BREAKPOINTS */

$screen-sm-min: 576px !default;
$screen-md-min: 768px !default;
$screen-lg-min: 992px !default;
$screen-xl-min: 1200px !default;