@import '../../styles/variables';
@import '../../styles/mixins/oswald';
@import '../../styles/mixins/sans-serif';

.header {
	height: 80px;
	background-color: $dark-blue;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&.oswald {
			@include Oswald($size: 22px, $weight: 400);
		}

		li {
			color: $pink;
		}
	}
}