@import '../../styles/variables';

.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $dark-blue;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			color: $pink;
		}
	}
}